<%- include("../_partials/header")%>

<div class="container-fluid">
    <h1>Recommendations for <%= user.name %></h1>
    <div class="userRec">
    <% users.forEach(function(u, index) { %>
        <p><%= u.name %></p>
        <img src="<%= u.avatar %>" class="rounded-circle" height="65" width="65" alt="Avatar">        
        <% u.favorites.forEach(function(f, index) { %>            
            <% }) %>
    </div>




<div class="row mb-2">
        <% u.favorites.forEach(function(f, index) { %>
        <div class="col-md-4">
            <div class="card mb-3 box-shadow small-movie">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/<%= f.poster_path %>" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-truncate"><%= f.title %></p>
                    <div class="d-flex justify-content-between align-items-center">
                            <hr>
                        <div class="btn-group">
                            <a href="/movies/<%=f.id%>" class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                        <small class="text-muted"><i class="fas fa-star"></i> <%= f.vote_average %> / 10</small>
                    </div>
                </div>
            </div>
        </div>
    
        <% }) %>
    </div>
    <% }) %>
</div>
<%- include("../_partials/footer")%>
