<%- include("../_partials/header")%>
<div class="container-fluid">
    <h1>Recommendations for
        <%= user.name %>
    </h1>
    <div class="userRec">
        <% users.forEach(function(u, index) { %>
            <h4>
                <a href="/users/<%=u._id%>">
                    <img src="<%= u.avatar %>" class="rounded-circle" height="65" width="65" alt="Avatar">
                    <b><%= u.name %></b>
                </a>
                has the following films in common with you:
            </h4>
            <hr>
            <div class="row mb-2">
            <% u.common.forEach(function(f, index) { %>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow small-movie">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/<%= f.poster_path %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-truncate">
                                    <%= f.title %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center recCards">
                                    <hr>
                                    <div class="btn-group">
                                        <a href="/movies/<%=f.apiId%>" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <small class="text-muted"><i class="fas fa-star"></i> <%= f.vote_average %> / 10</small>                                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            <% if (u.recs.length >= 1) { %>
                <h4>Based on you and <%= u.name %> liking those films, you might want to check out:</h4>
                <hr>
            <% } else { %>
                <h4><%= u.name %> has no recommendations for you.</h4>
                <hr>
            <% } %>
            <div class="row mb-2">
                <% u.recs.forEach(function(f, index) { %>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow small-movie">
                            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/<%= f.poster_path %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-truncate">
                                    <%= f.title %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center recCards">
                                    <hr>
                                    <div class="btn-group">
                                        <a href="/movies/<%= f.apiId %>" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <% if (f.vote_average >= 1) { %>
                                        <small class="text-muted"><i class="fas fa-star"></i> <%= f.vote_average %> / 10</small>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>
</div>
<%- include("../_partials/footer")%>

