<%- include("../_partials/header")%>
<div>
    <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>">
    <h1><%= movie.title %></h1>
    <h2><%= movie.vote_average %> / 10</h2>
    <p><%= movie.overview %></p>
</div>

<form method="GET" action="/movies/favorite/<%= movie.id %>">
    <input type="submit" class="btn btn-danger" value="&hearts; Add Favorite &hearts;">
</form>
<%- include("../_partials/footer")%>
