<%- include("../_partials/header")%>
<div class="container-fluid">
    <div class="col-sm-9">
        <div class="movieNameRate">
            <h1><%= movie.title %></h1>
            &nbsp;
            &nbsp;
            &nbsp;
            <% if (movie.vote_average >= 1) { %>
                <h3><i class="fas fa-star"></i><%= movie.vote_average %> / 10</h3>
            <% } %>
        </div>
        <hr>
        <div class="maininfo">
            <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" class="movie">
            <div class="movieReview">
                <p class="overView"><%= movie.overview %></p>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Movie Details
                            </button>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                bah
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>                   
        <form method="GET" action="/movies/favorites/<%= movie.apiId %>">
            <input type="submit" class="btn btn-primary btn-block" value="&hearts; Add Favorite &hearts;">
        </form>
        <a href="https://www.fandango.com/search/?q=<%= movie.title %>" class="btn btn-primary btn-block">Buy Ticket</a>
        <br>
        <br>
        <hr>
        <h4>Leave a Comment:</h4>
        <form role="form" method="POST" action="/movies/<%= movie.apiId %>/comments">
            <div class="form-group">
                <textarea name="content" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <br> 
        <% if (movie) {%>  
            <% if(movie.comments.length > 0){ %>
                <h3 style="display: inline-flex;" class="badge-light"><span class="badge badge-dark"><%= movie.comments.length %></span> Comments:</h3><br>
                <% movie.comments.reverse().forEach(function(comment) { %>
                    <div class="row comments">
                        <div class="col-sm-2 text-center">    
                            <img src="<%= comment.user.avatar %>" class="rounded-circle cPic" height="75" width="75" alt="Avatar">
                        </div>
                        <div class="col-sm-10">
                            <h4> <%= comment.user.name %> - <small> <%= new Date(comment.createdAt).toLocaleString().replace(/:\d\d /, ' ',) %></small></h4>
                            <p> <%= comment.content %> </p>
                            <% if (comment.user.id == user.id){ %>
                                <form method="POST" action="/movies/<%= movie.apiId %>/comments/<%= comment._id%>?_method=DELETE">
                                    <input type="submit" class="btn btn-sm btn-danger float-right" value="Delete">
                                </form>
                            <% } %>
                            <br>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <center>
                    <h3>No comments yet!</h3>
                </center>  
            <% } %>                                              
        <% } %>
    </div>
</div>
<%- include("../_partials/footer")%>

