<%- include("../_partials/header")%>
<div class="container-fluid">
    <div class="col-sm-9">
        <div class="movieNameRate">
            <h1><%= movie.title %></h1>
            &nbsp;
            &nbsp;
            <h1><%= movie.vote_average %> / 10</h1>
        </div>
        <hr>
        <div class="maininfo">
        <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" class="movie">
        <div class="movieReview">
            <p class="overView"><%= movie.overview %></p>
            <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                More Info
                            </button>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                bah
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>                  
                        



        

        <form method="GET" action="/movies/favorite/<%= movie.id %>">
            <input type="submit" class="btn btn-primary btn-block" value="&hearts; Add Favorite &hearts;">
        </form>   
        <br>
        <br>
        <hr>
        <h4>Leave a Comment:</h4>
        <form role="form" method="POST" action="/movies/<%= movie.apiId %>">
            <div class="form-group">
                <textarea name="content" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <br> 
        <p><span class="badge"><2></span> Comments:</p><br>
        <div class="row">
            <div class="col-sm-2 text-center">`
                <% if(movie.comments){ %>
            <% movie.comments.forEach(function(comment) { %>    
                <div class="col-sm-10">
                    <img src= <%= user.avatar %> class="img-circle" height="65" width="65" alt="Avatar">
                    <h4> <%= comment.user.name %> <small> <%= comment.created_at %> </small></h4>
                    <p> <%= comment.content %> </p>
                    <br>
            </div>
            <% }) %>
            <% } %>
        </div>
    </div>
</div>
<%- include("../_partials/footer")%>

